$main-color: #1755e7;
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #deee;
$dark: #2e2e2e;
$green-color: #dde381;
$green-color-hover: #0fe29c;
$red: #c43202;
$white: #fff;
$gray:#d8d6d6;
$green-nav:#61983b;
$gold:#ffeb00;
$btn-color:#486755;
$btn-hover:#486755;